<!-- views/layout/main.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title || 'Ecommerce-app' %>
    </title>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>

    <main>
        <%- body %>
    </main>
</body>

<script src="/assets/js/main.js"></script>
</html>