<!-- views/layout/main.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title || 'Ecommerce-app' %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal">

    <%- body %>
    
    <script src="https://cdn.tailwindcss.com"></script>
</body>

<script src="/assets/js/main.js"></script>
</html>